In [3]:
%%javascript

window.load_remote_theme = false
var theme_url = "https://drostehk.github.io/ipynb-theme/";
var asset_url = 'https://raw.githubusercontent.com/tijptjik/DS_assets/master/';

window.load_local_theme = function(){
    var hostname = document.location.hostname
    return ((hostname == "localhost" || hostname == '127.0.0.1') && !load_remote_theme)
}

var url = load_local_theme() ? document.location.origin + "/files/theme/custom.js" : theme_url + 'custom.js'

$.getScript(url)

# Group Assignment : Estimation Problem

Team up in pairs, and build the best estimation model for one of the following datasets

### Datasets

In [4]:
import pandas as pd

#### Example: Kelly Blue Book
Data collected from Kelly Blue Book for several hundred 2005 used General Motors (GM) cars allows you  to develop a multivariate regression model to determine car values based on a variety of characteristics such as mileage, make, model, engine size, interior style, and cruise control.

In [5]:
   pd.read_excel('../data/estimation/kelly_blue_cars.xls').head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

### Regression Analysis by Example

![resource](assets/regressionanalysisexample.png) [Regression Analysis By Example](http://type.hk:54988/calibre/get/pdf/Regression%20Analysis%20by%20Example%20-%20Samprit%20Chatterjee_294.pdf)

Login // Password for the book 

        media // guidance

Any dataset from [Regression Analysis by Example](http://www.stat.nus.edu.sg/~zhangjt/teaching/textbook/datasets.htm)

### Deliverables

A 10 minute presentation in class for your peers showcasing;
* Exploratory Data Analysis
* Motivation for feature selection
* Checking whether the preconditions for linear regression have been met
* Evaluation of model's strengths and weaknesses

Audiences can be assumed to understand all your technical points, so don't be afraid to dive into the code to showcase your solutions! iPython notebook comes with a slideshow mode, consider [using it](http://www.damian.oquanta.info/posts/make-your-slides-with-ipython.html)

### Teams

In [6]:
teams = pd.DataFrame({
    'PLAYER 1' : ['Chat','Josh','Oscar','Roshan','Andrew','Kinsen','Charlie','Gene'],
    'PLAYER 2' : ['Graham','JasonL','JasonKS','Hugh','Minh','Julie','Simon','Amita'],
    'DATASET' : ['X','X','LPGA tour','US Income Equality','X','Sales Data of Mens Fashion Stores','Wife Working Hours','X']})
                 
teams

                             DATASET PLAYER 1 PLAYER 2
0                                  X     Chat   Graham
1                                  X     Josh   JasonL
2                          LPGA tour    Oscar  JasonKS
3                 US Income Equality   Roshan     Hugh
4                                  X   Andrew     Minh
5  Sales Data of Mens Fashion Stores   Kinsen    Julie
6                 Wife Working Hours  Charlie    Simon
7                                  X     Gene    Amita

### Support

All the usual support channels are availables, but I'd like to point your attention to a **Python Dojo** being organised by a friend of mine coming Sunday.

[Facebook Event](https://www.facebook.com/events/934350619917654/)