# Group Assignment : Estimation Problem

Team up in pairs, and build the best estimation model for one of the following datasets, or one of your choice.

### Datasets

In [1]:
import pandas as pd

#### Example: Kelly Blue Book
Data collected from Kelly Blue Book for several hundred 2005 used General Motors (GM) cars allows you  to develop a multivariate regression model to determine car values based on a variety of characteristics such as mileage, make, model, engine size, interior style, and cruise control.

In [2]:
pd.read_excel('../data/estimation/kelly_blue_cars.xls').head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

### Regression Analysis by Example

![resource](assets/regressionanalysisexample.png) [Regression Analysis By Example](http://type.hk:54988/calibre/get/pdf/Regression%20Analysis%20by%20Example%20-%20Samprit%20Chatterjee_294.pdf)

Login // Password for the book 

        media // guidance

Any dataset from [Regression Analysis by Example](http://www.stat.nus.edu.sg/~zhangjt/teaching/textbook/datasets.htm)

### Deliverables

A 10 minute presentation in class for your peers showcasing;
* Exploratory Data Analysis
* Motivation for feature selection
* Checking whether the preconditions for linear regression have been met
* Evaluation of model's strengths and weaknesses

Audiences can be assumed to understand all your technical points, so don't be afraid to dive into the code to showcase your solutions! iPython notebook comes with a slideshow mode, consider [using it](http://www.damian.oquanta.info/posts/make-your-slides-with-ipython.html)

### Teams

In [3]:
import pandas as pd
import itertools

In [4]:
teams = pd.DataFrame({
    'PLAYER_1' : ['Eric','Annibal','Lo','Rob','Daegal','Stanley','Andy','Dale','Prin','Matt','Jesmer'],
    'PLAYER_2' : ['Yash','JingShu','Patrick','Adrien','Emma','Uriel','Anson','Isabella','Alex','Jason','Alistair'],
    'DATASET' : ['recruitment','stock/ macroeconomic time series','football','','Google Stock Price','Abalone','african soil','','university admissions','restaurants','MBA']})

tbd = ['alistair','jesmer']
                 
teams

                             DATASET PLAYER_1  PLAYER_2
0                        recruitment     Eric      Yash
1   stock/ macroeconomic time series  Annibal   JingShu
2                           football       Lo   Patrick
3                                         Rob    Adrien
4                 Google Stock Price   Daegal      Emma
5                            Abalone  Stanley     Uriel
6                       african soil     Andy     Anson
7                                        Dale  Isabella
8              university admissions     Prin      Alex
9                        restaurants     Matt     Jason
10                               MBA   Jesmer  Alistair

In [5]:
class_list = ['Emma', 'Prinporn', 'Alistair', 'Jason', 'Jesmer', 'Adrien', 'Patrick', 'Jingshu', 'Yash', 
              'Matt', 'Uriel', 'Anibal', 'Lo', 'Alex', 'Andy', 'Anson', 'Eric', 'Robert', 'Daegal', 'Stanley', 
              'Isabella', 'Dale']
group_list = list(itertools.chain(*teams[['PLAYER_1', 'PLAYER_2']].values.tolist()))

In [6]:
## Not in any group
list(itertools.compress(class_list, [x not in group_list for x in class_list]))

['Prinporn', 'Jingshu', 'Anibal', 'Robert']

In [ ]:
['m','f','m','f','f'] --> [0,1,0,1,1]